@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
html {
  background-color: #f1f1f1;
}
body {
  padding-top: 80px;
}
h1,
h2,
h3,
h4,
p,
li,
a {
  color: #222;
}
a {
  transition: 0.3s;
  text-decoration: none;
}
a:hover {
  color: #555;
}
.container {
  max-width: 1100px;
  margin: auto;
}
.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.loading {
  position: fixed;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
}
.loading svg {
  animation: loading-rotate 1.28973s linear infinite;
  transform-origin: center center;
}
.loading circle {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loading-dash 2s ease-in-out infinite;
  stroke-width: 4px;
}
@keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
.error-search {
  padding-top: 30px;
}

/* === HEADER === */
#main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 80px;
  background-color: #663399;
}
#main-header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
#main-header .logo {
  display: inline-block;
  margin-right: 25px;
}
#main-header h1 {
  color: #fff;
  width: inherit;
}
#main-header .right {
  display: flex;
  align-items: center;
}
/* search-form */
.search-form {
  position: relative;
  width: 350px;
}
.search-form input {
  width: calc(100% - 40px);
  height: 35px;
  padding: 0 10px;
  outline: none;
  border: none;
  transition: 0.4s;
}
.search-form input:focus {
  background-color: #ddd;
}
.search-form button {
  width: 40px;
  height: 35px;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  background-color: #aaa;
}
.search-form button:hover {
  background-color: #999;
}
.search-error {
  font-size: 1.5rem;
}
.search-form .fa.fa-circle-o-notch {
  position: absolute;
  top: 0;
  left: -35px;
  bottom: 0;
  margin: auto 0;
  font-size: 24px;
  height: 24px;
  width: 24px;
  color: #f1f1f1;
}
/* cart */
.cart-container {
  position: relative;
  height: 100%;
}
.fa-shopping-cart {
  position: relative;
  font-size: 24px;
  color: #f1f1f1;
  margin-left: 15px;
  cursor: pointer;
  z-index: 99;
}
.fa-shopping-cart span {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
  color: #f1f1f1;
  background-color: #430b7c;
}
.cart {
  position: absolute;
  top: 42px;
  left: -300px;
  z-index: 99;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 480px;
  max-height: 480px;
  padding: 20px;
  background-color: #ffffff;
}
.cart .content {
  margin: 0px 10px;
}
.cart header {
  padding-bottom: 15px;
  border-bottom: 1px solid #aaaa;
}
.cart section {
  overflow: hidden;
}
.cart section .content {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.cart .empty {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}
.cart .infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.cart .infos h3 {
  text-transform: capitalize;
}
.cart .remove {
  width: 20px;
  height: 20px;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-weight: border;
  cursor: pointer;
  border-radius: 50%;
  background-color: #bbb;
}
.cart footer {
  margin-top: auto;
  border-top: 1px solid #aaaa;
}
.cart footer .total {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.cart footer button {
  width: 100%;
}
.cart footer button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
.cart footer button:hover:disabled {
  background-color: #aaaaaa;
  color: #000000;
}

/* === BANNER === */
#banner-container {
  padding-top: 30px;
}
.banner {
  background-color: #aaa;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  width: 100%;
}
#banner-1 {
  background-image: url(./assets/images/banner-1.jpg);
}
#banner-2 {
  background-image: url(./assets/images/banner-2.jpg);
}
#banner-3 {
  background-image: url(./assets/images/banner-3.jpg);
}
/* Arrows */
.slick-prev {
  z-index: 1;
  left: 15px !important;
}
.slick-next {
  right: 15px !important;
}
/* === INITIAL-PRODUCTS === */
.initial-products {
  padding-top: 50px;
}
.initial-products > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.product {
  width: 22%;
  height: min-content;
  margin-bottom: 30px;
  border: 1px solid #ddd;
}
.product .content {
  padding: 20px;
}
.img-container {
  height: 170px;
}
.product h2 {
  text-transform: capitalize;
}
.product p {
  margin: 10px 0;
}
.product img {
  display: block;
  width: 80%;
  height: 80%;
  margin: auto;
}
.product button {
  width: 100%;
  border: none;
}
.gn-button {
  display: block;
  min-height: 30px;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #aaaaaa;
  transition: all 0.4s ease 0s;
}
.gn-button:focus {
  background-color: #888888;
}
.gn-button:hover {
  color: #00000099;
  background-color: #bbbbbbd9;
}

/* SERACH */
.full-product {
  display: flex;
  max-width: 825px;
  padding-top: 30px;
}
.full-product .left {
  min-width: 400px;
}
.full-product .left img {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}
.full-product .right {
  margin-left: 20px;
}
.full-product .right header {
  display: flex;
  justify-content: space-between;
}
.full-product h2 {
  text-transform: capitalize;
  font-size: 2rem;
}
.full-product .price {
  font-size: 2rem;
}
.fa-star {
  font-size: 1.25rem;
  color: #f2c832;
  margin-top: 10px;
}
.full-product .description {
  margin-top: 10px;
}
.full-product .abilities,
.full-product .height {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}
.full-product .abilities ul {
  padding-left: 15px;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 300px;
  height: 300px;
  background-color: #fefefe;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: popup 0.4s;
}
@keyframes popup {
  0% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.2);
  }
}
.modal .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: none;
  border: 2px solid #aaa;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    margin: 0 20px;
  }
  #main-header .logo {
    margin: 0 auto 10px;
  }
  .search-form {
    width: 100%;
  }

  .initial-products {
    width: 100%;
  }

  .cart {
    margin-left: 0;
  }
}
